In [1]:
import numpy as np
import pandas as pd

rn = np.random.randint(50,100,100)

In [2]:
rn

array([53, 77, 62, 95, 97, 96, 69, 86, 77, 51, 61, 59, 99, 86, 65, 74, 59,
       68, 95, 60, 57, 67, 81, 97, 81, 73, 72, 83, 75, 94, 81, 78, 63, 80,
       72, 93, 60, 58, 52, 86, 66, 75, 68, 81, 93, 60, 89, 72, 80, 91, 98,
       60, 97, 80, 75, 78, 90, 91, 84, 90, 74, 74, 89, 77, 77, 68, 55, 85,
       69, 71, 80, 57, 55, 91, 80, 72, 67, 73, 54, 89, 87, 99, 72, 74, 53,
       77, 84, 80, 77, 54, 54, 96, 74, 60, 51, 99, 83, 59, 56, 94])

In [3]:
rn = rn.reshape(10,10)

In [4]:
df = pd.DataFrame(rn)

In [5]:
df

    0   1   2   3   4   5   6   7   8   9
0  53  77  62  95  97  96  69  86  77  51
1  61  59  99  86  65  74  59  68  95  60
2  57  67  81  97  81  73  72  83  75  94
3  81  78  63  80  72  93  60  58  52  86
4  66  75  68  81  93  60  89  72  80  91
5  98  60  97  80  75  78  90  91  84  90
6  74  74  89  77  77  68  55  85  69  71
7  80  57  55  91  80  72  67  73  54  89
8  87  99  72  74  53  77  84  80  77  54
9  54  96  74  60  51  99  83  59  56  94

In [9]:
df.loc[len(df.index)] = [df[x].sum() for x in range(10)]

       0     1     2     3     4     5     6     7     8     9
0     53    77    62    95    97    96    69    86    77    51
1     61    59    99    86    65    74    59    68    95    60
2     57    67    81    97    81    73    72    83    75    94
3     81    78    63    80    72    93    60    58    52    86
4     66    75    68    81    93    60    89    72    80    91
5     98    60    97    80    75    78    90    91    84    90
6     74    74    89    77    77    68    55    85    69    71
7     80    57    55    91    80    72    67    73    54    89
8     87    99    72    74    53    77    84    80    77    54
9     54    96    74    60    51    99    83    59    56    94
10   711   742   760   821   744   790   728   755   719   780
11  1422  1484  1520  1642  1488  1580  1456  1510  1438  1560

In [8]:
n = int(input())
summ = 0
for x in range(n+1):
    summ = summ+x

print('sum: ',summ)

5
sum:  15